* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgba(5,5,5,0.2),rgba(5,5,5,0.2)),url("https://wallpapercave.com/wp/wp10373176.png");
    background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
    margin: 0;
    overflow: hidden;
    font-family: "Sniglet", system-ui;
    color: #222;
    height: auto;
    overflow: scroll;
    scroll-behavior: smooth;
}
.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}
.letter img {
    height: 100%;
    width: 75%;
    border-radius: 25px;
    box-shadow: 2px 5px 10px #222;
}
::-webkit-scrollbar {
    display: none;
}